#home{
font-family: 'Helvetica Neue';
}
.container{
  max-width: 750px
}
a:hover{

   text-decoration: none
}
#home a:hover{
  color: #fff;
   text-decoration: none
}
#home header{
    background: url(images/bg-home.jpg);
  background-repeat: no-repeat;
    background-position: top center;
     padding-top: 100px;
  text-align: center;
}
.min-800px{
  min-height: 800px
}
#home header img{
  margin: 0 auto;
  margin-bottom: 85px;
  }

.get-start{
  color: #fff;
  font-size: 46px;
  text-transform: uppercase;
  background: #db3d67;
  padding: 27px 0px;
  border-radius: 10px;
  box-shadow: 0px 10px 0px #b92c51;
    margin-bottom: 100px;
}
.get-start:hover{
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 5px 0px #b92c51
}
.btn-sign{
  padding: 20px 30px;
  font-size: 44px;
   border-radius: 10px;
  color: #fff;
   margin-bottom: 45px;
}
a.sign-face{
  background-color: #3050c9;
   box-shadow: 0px 5px 0px #1d38a0;
}
a.sign-google{
  background-color: #d94e4e;
   box-shadow: 0px 5px 0px #bb3333;
}
#home h3{
    font-size: 44px;
  color: #db3d67;
  margin-top: 70px;
  margin-bottom: 50px;

}
.sign-with{
      border-top: 2px solid #edecea;
  background-color: #f1f1f1
}

/*Pick a Subject*/
.main{
  background-color: #2d2734
}
.head-cus  header{
    padding: 15px 0px;
  background-color: #282828;
}
.search{
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-subject{
   width: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #fff;
  font-size: 40px;
  border-radius: 10px;
  padding: 22px 0px;

}
.title-sub{

  margin-left: 30px
}
.btn-subject.more-btn{
  text-align: center;
}
.math{
   box-shadow: 0px 5px 0px #04607e;
  background-color: #04b4d4;
  position: relative;
}
header .back a{
    background-image: url('images/sprite.png');
  width: 50px;
  height: 50px; 
  float: left;
  background-position: -23px -10px;
  display: block;
  background-repeat: no-repeat;
}
header h3{
width: 620px;
  float: left;
  text-align: center;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
}
.icon-search a{
   background-image: url('images/sprite.png');
  width: 50px;
  height: 50px;
  float: left;
  background-position: -14px -95px;
  display: block;
  background-repeat: no-repeat;
}

.search input {
padding: 5px 0px;
  width: 670px;
  border: none;
  font-size: 3rem;
}
.title-main{
font-size: 50px;
  color: #f75487;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
header .menu a{

     background-image: url('images/sprite.png');
  width: 50px;
  height: 50px; 
  float: left;
   background-position: -89px -10px;
  display: block;
  background-repeat: no-repeat;
}
.icon-math{
  top: 0px;
  display: block;
  float: left;
  position: relative;
  background-image: url('images/sprite.png');
  background-position: -145px -17px;
  width: 80px;
  height: 56px;
  background-repeat: no-repeat;
}
.icon-phy{
top: 0px;
  left: 10px;
  display: block;
  float: left;
  position: relative;
  background-image: url('images/sprite.png');
  background-position: -235px -17px;
   width: 80px;
  height: 56px;
  background-repeat: no-repeat;
}

.pro-subject{
    top: 0px;
  display: block;
  float: right;
  position: relative;
  background-image: url('images/sprite.png');
  background-position: -335px -17px;
  width: 65px;
  height: 56px;
  background-repeat: no-repeat
}
.phy{
     box-shadow: 0px 5px 0px #1a8559;
  background-color: #00d37c;
  position: relative;
}
.more-btn{
  color: #6d607c;
  text-transform: uppercase;
  font-size: 26px;
  text-decoration: underline;
}
.math:after,.phy:after {
  content: ' ';
  box-shadow: 0px 5px 0px #fff;
  height: 20px;
  display: block;
  position: absolute;
  border-radius: 10px 0px 0px 10px;
  top: 68px;

}
.math-25:after,.phy-25:after{
    width: 150px;
}
.math-50:after,.phy-25:after{
    width: 300px;
}
.math-75:after,.phy-25:after{
    width: 450px;
}

/* */
header{
  background: #282828
}
.topic{
     box-shadow: 0px 5px 0px #04607e;
  background-color: #ffffff;
}
.topic{
    font-size: 36px;
  font-weight: 300;
  color: #202e38;
}
.title-topic{
 margin-left: 20px;
  float: left;


}
.btn-subject.topic{
  width: 670px
}
.topic .title-sub{
  font-weight: 400;
  margin-left: 5px;
  width: 420px;
}
#topic-list .main{
  background-color: #04b4d4
}
.topic-subject{
    top: 0px;
  display: block;
  float: right;
  position: relative;
  background-image: url('images/sprite.png');
  background-position:-310px -102px;
  width: 80px;
  height: 67px;
  background-repeat: no-repeat
}
.math-view-25{
   background-position: -630px -166px;
  top: -13px;
}
.math-view-50{
   background-position: -530px -166px;
  top: -13px;
}
.math-view-75{
   background-position:  -435px -166px;
  top: -13px;
}
.math-view-100{
   background-position: -338px -166px;
  top: -13px;
}
.math-star-0:after{
 background-image: url('images/sprite.png');
   background-position: -338px -418px;
  top: -13px;
  display: block;
  content: ' ';
  width: 80px;
  height: 67px;
  background-repeat: no-repeat
}
.math-star-1:after{
 background-image: url('images/sprite.png');
   background-position:-434px -418px;
  top: -13px;
  display: block;
  content: ' ';
  width: 80px;
  height: 67px;
  background-repeat: no-repeat
}
.math-star-2:after{
 background-image: url('images/sprite.png');
   background-position: -531px -418px;
  top: -13px;
  display: block;
  content: ' ';
  width: 80px;
  height: 67px;
  background-repeat: no-repeat
}
.math-star-3:after{
 background-image: url('images/sprite.png');
   background-position:-630px -418px;
  top: -13px;
  display: block;
  content: ' ';
  width: 80px;
  height: 67px;
  background-repeat: no-repeat
}
.topic:first-child{
  margin-top: 30px
}
/**/
span.title-topic-list {
  width: 540px;
  display: inline-block;
  margin-left: 20px;
}
#topic .topic-subject{
  top: 10px
}
#topic .list-thin{
  top: -6px
}
.topic-subject.list{
  background-position: -647px -495px;
}
.main.bg-blue{
  background: #04b4d4;
}
/**/
.quizzes-drop{
  width: 640px;
  background: #2d2734;
  display: none;
    border-radius: 0px 0px 10px 10px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 45px;
  margin-top: -15px;
  padding-top: 30px;
}
.quizzes{
   width: 600px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #f75386;
  font-size: 36px;
  color: #fff;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: 0 10px 0px #db3e67;
}
.btn-default-quizzes{
    width: 284px;
  padding: 20px 0px;
  font-size: 36px;
  border-radius: 10px;
    margin-bottom: 25px;
  display: block;
  color: #4c5864;
  background: #fff;
    text-align: center;
}
.quizzes-left,.quizzes-right{
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  margin-right: 30px;
  float: left;
}
.quizzes-right{
  margin-left: 0px;
  margin-right: 0px
}

/*Quizz*/
.quiz > h3{
  color: #1ab9d7;
  display: inline-block;
  margin-left: 15px;
  font-size: 36px;

}
.start-quiz.left{
  display: inline-block;
  width: 175px;
  float: right;
  padding: 10px 0px 10px 20px;
  background: #db3e67;
  
}
.start-quiz.right{
  display: inline-block;
  width: 175px;
  float: right;
  padding: 10px 0px 10px 20px;
  background: #ededed;
  border-radius: 0px 0px 0px 40px;
}
.icon-number-point{
     background-image: url('images/sprite.png');
  width: 50px;
  height: 53px;
  float: left;
  background-position: -419px -10px;
  display: block;
  background-repeat: no-repeat;
}
.start-quiz label{
  background: red;
}
.number-point {
  font-size: 36px;
  margin-left: 10px;
}
.icon-vote{
       background-image: url('images/sprite.png');
  width: 50px;
  height: 53px;
  float: left;
  background-position: -589px -12px;
  display: block;
  background-repeat: no-repeat;
}
.icon-vote.good{
    background-position: -506px -12px;
}
.quiz.container{
  padding: 0px;
  margin-left:0px;
  margin-right: 0px
}
.bg_white .main{
  background: #fff;
}
.page-quizz .main h5{
  
  font-size: 36px;
  width: 670px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.result-quizz ul li,.result-quizz ul{
  margin: 0px;
  list-style: none;
  padding: 0px;
  font-size: 36px;
}
.result-quizz ul li{
  padding: 15px 20px;
  color: #202e3c;
  background: #f7f8f9;
  border-bottom: 1px solid #f2f4f5;
  width: 670px;
  display: block;
  margin: 0 auto;
}
.result-quizz ul .dis-quizz{
  background: #f7f8f9;
  color: #c9ccce
}
.btn-subject.hint{
  background: #3aafeb;
  box-shadow: 0px 10px 0px #0179b7;
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  width: 670px;
}
#quizz footer{
  background: #939393;
  color: #fff;
  padding-bottom: 20px;

  border-top:8px solid #282828;
}
#quizz footer h3{
  padding: 10px 50px;
  font-size: 26px;
  font-weight: 400;
}
.icon-quizz-pre{
  background-image: url('images/sprite.png');
  width: 250px;
  height: 80px;
  float: left;
  background-position: 19px -488px;
  display: block;
  background-repeat: no-repeat;
}
.icon-quizz-next{
   background-image: url('images/sprite.png');
  width: 250px;
  height: 80px;
  float: right;
  background-position: -260px -488px;
  display: block;
  background-repeat: no-repeat;
}

.question-quizz{
   font-size: 36px;
  display: block;
  float: left;
  position: relative;
  top: 15px;
  left: 73px;

}

.quizz-progess-10{
  display: inline-block;
  width: 10%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-20{
  display: inline-block;
  width: 20%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-30{
  display: inline-block;
  width: 30%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-40{
  display: inline-block;
  width: 40%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-50{
  display: inline-block;
  width: 50%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-60{
  display: inline-block;
  width: 60%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-70{
  display: inline-block;
  width: 70%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-80{
  display: inline-block;
  width: 10%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-90{
  display: inline-block;
  width: 90%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
.quizz-progess-100{
  display: inline-block;
  width: 100%;
  height: 8px;
  top: -15px;
  position: relative;
  background: #04b4d4;
}
/**/
.page-difficulty .main h4,.page-difficulty .main ul{
  display: block;
  width: 670px;
  padding: 0px;
  margin: 0 auto;
}
.page-difficulty .main h4{
    text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #db3e67;
  margin-top: 90px;
  margin-bottom: 90px;

}
.page-difficulty .main ul li{
  list-style: none;
    text-align: center;
      border-bottom: 1px solid #504c55;
     
}
span big{
   font-weight: 600;
   color: #db3e67;
}
.page-difficulty .main ul li:first-child{
     border-top: 1px solid #504c55;
}
.page-difficulty .main ul li span:first-child{
margin: 40px 0px;
  color: #fff;
  font-size: 27px;
  display: inline-block;
  width: 100%;
  text-align: center;

}
.page-difficulty .main ul li span.level{
  font-size: 66px;
  font-weight: 300
}
.page-difficulty .main ul li span.level{
  font-size: 66px;
  font-weight: 600;
  color: #969696;
    display: inline-block;
  width: 100%;
    margin-bottom: 40px;
}
.page-difficulty .main ul li span.level.check-level{
  color: #db3e67;
  font-weight: 300;
}
.btn-subject.btn-difficulty{
  background: #db3e67;
  box-shadow: 0px 10px 0px #9e2a48;
  text-align: center;
  font-size: 58px;
  margin-top: 120px;
  padding: 10px 0px;
  width: 670px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 600;
}
.icon-check-red{
   background-image: url('images/sprite.png');
  width: 60px;
  height: 60px;
  float: left;
  background-position: -254px -87px;
  display: block;
  background-repeat: no-repeat;
  position: relative;
  top: 22px;
  left: 220px;
}
/**/
.container-670{
  width: 670px;
  display: block;
  margin: 0 auto
}
#tab-sign a{
  font-size: 31px;
  color: #282828;
margin-right: 30px;
  font-weight: bold;

}
#tab-sign article{
  padding: 40px 0px
}
#tab-sign a.sign-active{
  color: #db3e67;
position: relative;
}

#tab-sign a.sign-active .active-signin{
  background-image: url('images/sprite.png');
  width: 99px;
  height: 60px;
  float: left;
  background-position: -397px -676px;
  position: absolute;
  top: 55px;
}
.icon-face{
  background-image: url('images/sprite.png');
  width: 50px;
  height: 60px;
  float: left;
  background-position: -93px -663px;
  top: 55px;
}
.icon-google{
  background-image: url('images/sprite.png');
  width: 50px;
  height: 60px;
  float: left;
  background-position: -15px -658px;

}
#signin .main{
    padding-top: 40px
}
.icon-logo-sign{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}
.icon-logo-sign i{
  background-image: url('images/sprite.png');
  width: 80px;
  height: 60px;
  background-position: -316px -660px;
  top: 55px;
  display: block;
  margin: 0 auto;
}
.sign-in-up h5{
    margin: 30px 0px;
  font-size: 27px;
  color: #fff;
   text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.icon-usr{
     background-image: url('images/sprite.png');
  width: 75px;
  height: 77px;
  float: left;
  background-position: -246px -656px;
  top: 55px;
  background-color: #dcdcdc;
  border-radius: 10px 0px 0px 10px;
}
.icon-pass{
     background-image: url('images/sprite.png');
  width: 75px;
  height: 77px;
  float: left;
  background-position: -162px -656px;
  top: 55px;
  background-color: #dcdcdc;
  border-radius: 10px 0px 0px 10px;
}
.txt-sign-user,.txt-sign-pass{
  width: 595px;
  padding: 19px 0px 20px 0px;
  margin-bottom: 30px;
  font-size: 27px;
  border: none;
  text-indent: 30px;
}
.signin{
  background-color: #db3e67;
  box-shadow: 0px 10px 0px #b92c51;
  text-align: center;
}
#signin footer{
  font-size: 27px;
  min-height: 200px;
  padding-top: 30px;
}
/*Menu*/

/*Menu*/
a.nav-expander {
  background: none repeat scroll 0 0 #2d2734;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

#croll-menu nav ul{
  list-style: none;
}
#croll-menu nav ul li{
  display: inline-block;
  width: 93%
}
#croll-menu nav ul li a{
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin-top: 25px;
  display: block;
}
#croll-menu nav ul li:nth-child(3),
#croll-menu nav ul li:nth-child(8){
  margin-bottom: 20px;
  border-bottom: 1px solid #662f45;
  padding-bottom: 20px;

}
#croll-menu {
  background: #2d2734;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -595px;
  font-size: 15px;
  top: 0px;
    width: 595px;
  z-index: 2000;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
#croll-menu article{
  padding: 0px
}
.nav-expanded #croll-menu {
  right: 0;
}
.icon-close-menu{
 background-image: url('images/sprite.png');
  width: 80px;
  height: 85px;
  float: left;
  background-position: -71px 9px;
  display: block;
  background-repeat: no-repeat;
}
body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}
.images-author{
   background-image: url('images/sprite.png');
  width: 135px;
  height: 130px;
  float: left;
  background-position: -498px -660px;
  display: block;
  background-repeat: no-repeat;
}
.icon-menu{
   background-image: url('images/sprite.png');
  width: 70px;
  height: 70px;
  float: left;
  background-position: -498px -660px;
  display: block;
  background-repeat: no-repeat;
}
.icon-menu.ic-home{
    background-position: -15px -593px;
}
.icon-menu.ic-sbj{
   background-position:-98px -588px;
}
.icon-menu.ic-his{
     background-position: -502px -499px;
}
.icon-menu.ic-cha{  background-position:-98px -588px;}
.icon-menu.ic-fri{background-position:-177px -588px}
.icon-menu.ic-cha{background-position: -256px -588px}
.icon-menu.ic-mes{background-position:-333px -588px}
.icon-menu.ic-dis{background-position:-418px -588px}
.icon-menu.ic-ran{background-position:-500px -581px}
.icon-menu.ic-sub{background-position:-581px -588px}
.icon-menu.ic-set{background-position:-662px -588px}
.author-logout{
    background-image: url('images/sprite.png');
  width: 75px;
  height: 95px;
  float: right;
  background-position: -581px -464px;
  display: block;
  background-repeat: no-repeat;
}
.info-fixed h3{
  display: inline-block;
  float: left;
  margin-top: 55px;
  color: #fff;
}
.info-fixed{
    display: inline-block;
  width: 100%;
  background: #d83e66;
}
#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}



/*End Menu*/
